<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in</title>
</head>
<body>
    <div>

        <h4>Log in</h4>

        <form method="POST" action="/auth/login">

            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="username"/>
            </div>

            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password"/>
            </div>

            <br/>

            <button type="submit">Log in</button>

        </form>

        <p>Or you can <a href="/auth/register">register</a></p>

    </div>
</body>
</html>