<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creating product-card</title>
</head>
<body>
    <div>

        <h4>New product-card</h4>

        <form method="POST" action="/product-cards" th:object="${productCard}">

            <div>
                <label for="brand-dropdown">Car</label>
                <select id="brand-dropdown" name="car">
                    <option th:each="car : ${cars}"
                            th:value="${car}"
                            th:text="${car}"
                            th:selected="${productCard.getCar().getFullName().equals(car)}">
                        Car
                    </option>
                </select>
                <div style="color:red" th:if="${#fields.hasErrors('car')}">Car error</div>
            </div>

            <div>
                <label for="price">Price</label>
                <input id="price" type="number" th:field="*{price}"/>
                <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>
            </div>

            <div>
                <label for="address">Address</label>
                <input id="address" type="text" th:field="*{address}" placeholder="country, town, street, building-number"/>
                <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
            </div>

            <br/>

            <button type="submit">Add new product-card</button>

        </form>
    </div>
</body>
</html>