<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product-cards</title>
</head>
<body>
    <div>
        <div>
            <div th:each="productCard : ${productCards}">
                <p><a th:href="@{/product-cards/__${productCard.getId()}__}" th:text="${productCard.toString()}">product card</a></p>
            </div>
            <hr/>
        </div>
        <div>
            <p><a href="/product-cards/new">Add new product-card</a></p>
        </div>
    </div>
</body>
</html>