<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'cars :: ' + car.getFullName()}">Car</title>
</head>
<body>
    <div>
        <div th:include="fragments/menu :: commonMenu"></div>
        <h4>Car</h4>
        <div>
            <p> Brand: <span th:text="${car.getModel().getCarBrand().getName()}">brand</span></p>
            <p> Model: <span th:text="${car.getModel().getModelName()}">model</span></p>
            <p> Horse powers: <span th:text="${car.getModel().getHorsePowers()}">horse powers</span></p>
            <p> Year: <span th:text="${car.getModel().getYear()}">year</span></p>
            <p>Lessor: <a th:href="@{/users/__${car.getLessor().getUser().getId()}__}" th:text="${car.getLessor().getName()}">lessor</a></p>
            <p> In usage: <span th:text="${car.isInUsage()}">is in usage</span></p>
            <div th:each="image : ${carImages}">
                <img th:src="${'/images/' + image.getId()}" th:alt="${image.getName()}" height="60px"/>
            </div>
            <hr/>
        </div>
        <div>
            <div th:if="${currentUser != null && car.getLessor().equals(currentUser.getLessor())}">
                <p><a th:href="@{/cars/__${car.getId()}__/edit}">Edit</a></p>
                <hr/>
            </div>
        </div>
        <div>
            <h5>Product-cards</h5>
            <div th:if="${currentUser != null && car.getLessor().getUser().equals(currentUser)}">
                <p><a href="/product-cards/new">Add new product-card</a></p>
            </div>
            <div th:each="productCard : ${car.getProductCards()}">
                <a th:href="@{/product-cards/__${productCard.getId()}__}" th:text="${productCard.getFullName()}">product-card</a>
                <br/>
            </div>
            <hr/>
        </div>
        <div>
            <h5>History of lending</h5>
            <div th:each="rentalRecord : ${car.getRentalRecords()}">
                <a th:href="@{/product-cards/__${rentalRecord.getProductCard().getId()}__}" th:text="${rentalRecord.getFullName()}">rental record</a>
                <br/>
            </div>
            <hr/>
        </div>
    </div>
</body>
</html>