<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'cars :: ' + car.getFullName()}">Car</title>
</head>
<body>
    <div>
        <h4>Car</h4>
        <div>
            <p> Brand: <span th:text="${car.getModel.getCarBrand().getName()}">brand</span></p>
            <p> Model: <span th:text="${car.getModel.getModelName()}">model</span></p>
            <p> Horse powers: <span th:text="${car.getModel.getHorsePowers()}">horse powers</span></p>
            <p> Year: <span th:text="${car.getModel.getYear()}">year</span></p>
        </div>
        <div>
            <p><a th:href="@{/cars/__${car.getId()}__/edit}">Edit</a></p>
        </div>
    </div>
</body>
</html>