<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'updating car :: ' + car.getFullName()}">updating car :: car</title>
</head>
<body>
    <div>

        <h4 th:text="${'updating car - ' + car.getFullName()}">updating car</h4>

        <form th:method="PATCH" th:action="@{/cars/__${car.getId()}__}"> <!--enctype="multipart/form-data">-->

            <div>
                <label for="brand-dropdown">Brand</label>
                <select id="brand-dropdown" name="brand">
                    <option th:each="brand : ${brands}"
                            th:value="${brand}"
                            th:text="${brand}"
                            th:selected="${car.getModel().getCarBrand().getName().equals(brand)}">
                        Brand
                    </option>
                </select>
                <div th:if="${errors != null && errors.hasFieldErrors('brand')}">
                    <span style="color:red" th:text="${errors.getFieldError('brand').getCode()}">Brand error</span>
                    <br/>
                </div>
            </div>

            <div>
                <label for="model">Model</label>
                <input id="model" type="text" name="model" th:value="${car.getModel().getModelName()}"/>
                <div th:if="${errors != null && errors.hasFieldErrors('model')}">
                    <span style="color:red" th:text="${errors.getFieldError('model').getCode()}">Model error</span>
                    <br/>
                </div>
            </div>

            <div>
                <label for="horse-powers">Horse powers</label>
                <input id="horse-powers" type="number" name="horsePowers" th:value="${car.getModel().getHorsePowers()}"/>
                <div th:if="${errors != null && errors.hasFieldErrors('horsePowers')}">
                    <span style="color:red" th:text="${errors.getFieldError('horsePowers').getCode()}">Horse-powers error</span>
                    <br/>
                </div>
            </div>

            <div>
                <label for="year">Year</label>
                <input id="year" type="number" name="year" th:value="${car.getModel().getYear()}"/>
                <div th:if="${errors != null && errors.hasFieldErrors('year')}">
                    <span style="color:red" th:text="${errors.getFieldError('year').getCode()}">Year error</span>
                    <br/>
                </div>
            </div>

            <br/>

<!--            <div>-->
<!--                <div>-->
<!--                    <label for="image1">Image 1</label>-->
<!--                    <div th:if="${carImages.get(0).getId() == null}">-->
<!--                        <input id="image1" type="file" name="image1"/>-->
<!--                    </div>-->
<!--                    <div th:unless="${carImages.get(0).getId() == null}">-->
<!--                        <img th:src="${'/images/' + carImages.get(0).getId()}" th:alt="${carImages.get(0).getName()}" height="60px"/>-->
<!--                        <input id="image1" type="file" name="image1" th:value="${carImages.get(0).getName()}"/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <label for="image2">Image 2</label>-->
<!--                    <div th:if="${carImages.get(1).getId() == null}">-->
<!--                        <input id="image2" type="file" name="image2"/>-->
<!--                    </div>-->
<!--                    <div th:unless="${carImages.get(1).getId() == null}">-->
<!--                        <img th:src="${'/images/' + carImages.get(1).getId()}" th:alt="${carImages.get(1).getName()}" height="60px"/>-->
<!--                        <input id="image2" type="file" name="image2" th:value="${carImages.get(1).getName()}"/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div>-->
<!--                    <label for="image3">Image 3</label>-->
<!--                    <div th:if="${carImages.get(2).getId() == null}">-->
<!--                        <input id="image3" type="file" name="image3"/>-->
<!--                    </div>-->
<!--                    <div th:unless="${carImages.get(2).getId() == null}">-->
<!--                        <img th:src="${'/images/' + carImages.get(2).getId()}" th:alt="${carImages.get(2).getName()}" height="60px"/>-->
<!--                        <input id="image3" type="file" name="image3" th:value="${carImages.get(2).getName()}"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <br/>

            <button type="submit">Update car</button>

        </form>
        
    </div>
</body>
</html>